/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding: 7px;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CodeMirror {
  flex: 1;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  font-family: monospace;
  margin-top: -3px;
}

.url-wrapper {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 10px;
  margin-bottom: 3px;

  opacity: 0.3;

  &:hover {
    opacity: 1.0;
  }

  .label {
    font-weight: bold;
  }

  .url {
    font-weight: bold;
    color: rgba(black, 0.5);
    font-size: 10px;
    text-decoration: none;


    &:visited { text-decoration: none; color:black; }
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

* {
  box-sizing: border-box;
}

textarea, input, button { outline: none; }
