<%= javascript_include_tag  params[:controller] %>

<div id="wrapper">
  <% if @doc %>

    <div id="viewing-url-wrapper" class="url-wrapper">
      <span class="label">Viewing URL</span>:
      <a id="viewing-url" class="url" target="_blank"></a>
    </div>

    <div id="editing-url-wrapper" class="url-wrapper">
      <span class="label">Editing URL</span>:
      <a id="editing-url" class="url" target="_blank"></a>
    </div>

    <textarea id="editor" name="editor"></textarea>
  <% else %>

  <% end %>
</div>
