<%= javascript_include_tag  params[:controller] %>

<div id="wrapper">
  <% if @doc %>
    <div id="url">
      <strong>Sharing URL</strong>:
      <span><%= @url %></span><span id="url-key"></span>
    </div>
    <textarea id="code" name="code"></textarea>
  <% else %>

  <% end %>
</div>
